.git
.github
.env
.env.*
!.env.example
node_modules
vendor
public/build
storage/app/private
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
docs
*.log
